form{

     text-align: center;
    
    }
    
    
    button{
        background-color:rgb(155, 120, 120);
        width: 200px;
        }
        h1{
        text-align: center;
        background-color: rgb(57, 57, 94);
        color: white;
        padding: 30px;
        }
        input{
        text-align: center;
         }
         form{
            text-align: center;
         }
         h3{
            text-align: center;
         }
         
   